.button {
  display: inline-flex;
  font-family: sans-serif;
  background-color: #c01c25;
  color: white;
  padding: 15px 30px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
}
