.main {
  display: flex;
  height: 800px;
  justify-content: center;
}

.wrapper {
  width: 1250;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro {
  display: flex;
  gap: 20px;
}

.heading {
  font-size: 45px;
  font-weight: 600;
  font-family: sans-serif;
  color: black;
  margin-bottom: 20px;
  width: 900x;
}

.paragraph {
  font-family: sans-serif;
  color: rgb(119, 119, 119);
  line-height: 1.6em;
  display: flex;
  align-items: center;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.cardRow {
  display: flex;
  gap: 20px;
}
