.main {
  background-color: rgb(42, 44, 56);
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.wrapper {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  width: 1250px;
}

.info {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.heading {
  font-size: 24px;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 30px;
}

.paragraph {
  font-family: sans-serif;
  line-height: 25px;
  color: rgb(223, 223, 223);
  font-size: 16px;
  display: flex;
  align-items: center;
}

.details {
  display: flex;
  font-size: 20px;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 25px;
  gap: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

.imageContainer {
  display: flex;
  gap: 20px;
}

.borderLine {
  border-bottom: 1px solid #f3f2f23b;
  width: 100%;
  display: flex;
  align-items: center;
}

.copyrightContainer {
  display: flex;

  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.copyrightPara {
  color: rgb(223, 223, 223);
  font-family: sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.socials {
  display: flex;
  gap: 5px;
  align-items: center;
  color: rgb(223, 223, 223);
  font-family: sans-serif;
  font-size: 15px;
}

.socials:hover {
  color: #c01c25;
}

.quickPara {
  font-family: sans-serif;
  line-height: 25px;
  color: rgb(223, 223, 223);
  font-size: 16px;
  display: flex;
  align-items: center;

  padding-left: 130px;
}

.quickPara:hover {
  color: #c01c25;
}

.socialsContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .info {
    flex-direction: column;
    gap: 50px;
  }

  .wrapper {
    padding: 20px;
    width: 100%;
  }

  .container {
    width: 100%;
    padding-left: 0px !important;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 20px;
  }

  .heading {
    text-align: center;
  }

  .paragraph {
    text-align: center;
  }

  .details {
    display: inline-flex;
    align-items: center;
  }

  .quickPara {
    padding-left: 0;
    width: 90px;
  }

  .copyrightContainer {
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }

  .copyrightPara {
    text-align: center;
  }
}
