.main {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 100px 0px;
}

.leftContainer {
  display: flex;
  gap: 20px;
}

.leftContainerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 530px;

  gap: 20px;
}

.heading {
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: black;
  line-height: 1.1em;
  margin-bottom: 20px;
}

.heading span {
  display: block;
}
.paragraph {
  color: rgb(119, 119, 119);
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 14px;
}

.rightContainerCard {
  display: flex;
  gap: 20px;
}

.successWrapper {
  border: 5px solid #c01c25;
  padding: 35px 30px;
}
.successContainer {
  display: flex;
  flex-direction: column;
  width: 160px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.successContainerTitle {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px 20px;
  }

  .rightContainer {
    width: 100%;
    align-items: center;
    justify-content: start;
    gap: 40px;
  }

  .heading {
    font-size: 25px;
    margin-bottom: 0;
  }

  .heading span {
    display: inline;
  }

  .paragraph {
    text-align: center;
  }

  .rightContainerCard {
    flex-direction: column;
    padding: 0px 15px 0px 15px;
  }

  .leftContainer {
    flex-direction: column;
    align-items: center;
  }

  .mainImage {
    width: 390px;
    height: 430px;
  }

  .successContainer {
    width: 180px;
  }

  .successWrapper {
    padding: 0px;
    display: flex;
    justify-content: center;
  }

  .leftContainerCard {
    flex-direction: row;
    gap: 20px;
  }

  .secondImage {
    width: 180px;
  }
}
