.container {
  border: 1px solid rgb(213, 216, 220);
  padding: 15px;
  background-color: white;
}

.heading {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.slidingBox {
  max-height: 0;

  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 20px;
}

.paragraph {
  font-family: sans-serif;
  color: rgb(119, 119, 119);
  line-height: 1.6em;
}
.open {
  transition: max-height 1s ease, opacity 0.3s ease;
  max-height: 300px;
  opacity: 1;
  padding: 10px;
}

.closeInstant {
  transition: none !important;
}
