.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 80px 0px;
}

.heading {
  display: flex;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: black;
  display: flex;
  text-align: center;
  margin-bottom: 20px;
}

.imageWrapper {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.imagesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.zoomImage {
  transition: transform 0.4s ease;
}

.zoomImage:hover {
  transform: scale(1.1); /* zoom level */
}
.imageContainer {
  overflow: hidden;
  cursor: pointer;
}
