.main {
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 20px;
  padding: 90px 0px;
}

.container {
  background-color: #c01c25;
  width: 515px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.heading {
  color: white;
  font-size: 45px;
  font-family: sans-serif;
  font-weight: 600;
}

.paragraph {
  font-size: 16px;
  color: white;
  font-family: sans-serif;
  line-height: 25.6px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.name {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 26px;
  color: white;
  font-weight: 600;
  margin-bottom: 5px;
}

.location {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 17px;
  color: #dfdfdf;
}

.client {
  display: flex;
  gap: 20px;
  align-items: center;
}

.clientContainer {
  display: flex;
  justify-content: space-between;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  width: 200%;
  transition: transform 0.7s ease-in-out;
  gap: 20px;
}

.slide {
  width: calc(50% - 10px);
  flex-shrink: 0;
}

@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .container {
    width: 100%;
    align-items: center;
  }

  .heading {
    text-align: center;
    font-size: 25px;
  }
}
