.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 400px;
  align-items: center;
  padding: 10px;
}

.heading {
  color: black;
  font-size: 45px;
  font-family: sans-serif;
  font-weight: 600;
  display: flex;
  line-height: 50px;
}

.paragraph {
  font-size: 16px;
  line-height: 24px;
  color: rgb(51, 51, 51);
  font-family: sans-serif;
}

.redBox {
  height: 360px;
  width: 1250px;
  background-color: #c01c25;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}

.redBoxCard {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 270px;
}

.cardDescription {
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  color: white;
}

@media only screen and (max-width: 768) {
  .heading {
    font-size: 25px;
  }

  .paragraph {
    text-align: center;
  }

  .redBox {
    height: fit-content;
    width: 100%;
    flex-direction: column;
    padding: 50px 0px;
    gap: 50px;
  }

  .redBoxCard {
    width: 80%;
    align-items: center;
  }

  .main {
    height: fit-content;
  }
}
