.slideshow {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: zoom 10s ease-in-out infinite;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
}

.slide1 {
  background-image: url("/Images/Bg1.webp");
  animation: zoom 5s infinite, show1 5s infinite;
}

.slide2 {
  background-image: url("/Images/Bg2.webp");
  animation: zoom 5s infinite, show2 5s infinite;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.81); /* adjust darkness (0.5–0.9) */
  z-index: 1;
}

.container {
  display: flex;
  gap: 20px;
  height: 800px;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 680px;
}

.rightContainer {
  width: 550px;
}

.heading {
  color: white;
  font-size: 75px;
  font-weight: 600;
  font-family: sans-serif;
}

.line {
  flex: 1;
  border-bottom: 1px #f3f2f23b solid;
  margin-top: 20px;
}

.para {
  color: #dfdfdf;
  font-family: sans-serif;
  font-size: 16px;
}

.redContainer {
  position: absolute;
  left: -50px;
  bottom: -50px;
  width: 330px;
  height: 130px;
  background-color: #c01c25;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.imageContainer {
  position: absolute;

  border: 1px solid black;
  border-radius: 50px;
}

.imageWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 150px;
  height: 70px;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

/* Instant switching – no fade */
@keyframes show1 {
  0% {
    opacity: 1;
  }
  49.9% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show2 {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
